<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Website</title>
  </head>

<body>
    <form action="/" method="POST">
    <input type="text" name="url" placeholder="Enter URL">
    <button type="submit">Fetch Detail</button>

    </form>
    <h3>Result:</h3>
    <P>List of Headers are:</P>
    {% for h in heading %}
    <p>{{h}}</p>
    {% endfor %}

    <p>List of anchor tags are:</p>
    {% for a in anchor%}
    <p>{{a}}</p>
    {% endfor %}
    <p>Title: {{title}}</p>



</body>
</html>